## Deliverable 2. Create a Customer Travel Destinations Map.

In [24]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key = g_key)

In [25]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("weather_database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Salalah,OM,17.0151,54.0924,81.16,85,100,7.11,overcast clouds
1,1,Thompson,CA,55.7435,-97.8558,46.56,25,20,11.50,few clouds
2,2,Astoria,US,46.1879,-123.8313,62.71,65,40,5.75,scattered clouds
3,3,Bluff,NZ,-46.6000,168.3333,50.34,80,100,29.48,light rain
4,4,Hobart,AU,-42.8794,147.3294,44.26,89,75,10.36,broken clouds

In [26]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature (Farenheit) you would like for your trip? "))
max_temp = float(input("What is the maximum temperature (Farenheit) you would like for your trip? "))

What is the minimum temperature (Farenheit) you would like for your trip? 75
What is the maximum temperature (Farenheit) you would like for your trip? 80

In [27]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Rikitea,PF,-23.1203,-134.9692,75.24,74,12,6.60,few clouds
10,10,Puerto Ayora,EC,-0.7393,-90.3518,76.96,90,63,8.99,broken clouds
37,37,Quatre Cocos,MU,-20.2078,57.7625,75.31,68,4,14.32,clear sky
44,44,Silver City,US,32.7701,-108.2803,78.76,17,0,8.99,clear sky
45,45,Tallahassee,US,30.4383,-84.2807,76.68,92,0,1.99,clear sky
...,...,...,...,...,...,...,...,...,...,...
642,642,Salamiyah,SY,35.0113,37.0532,77.09,14,100,11.79,overcast clouds
643,643,Benidorm,ES,38.5382,-0.1310,76.32,56,100,3.74,overcast clouds
650,650,Buala,SB,-8.1450,159.5921,79.41,81,83,5.35,broken clouds
667,667,Honiara,SB,-9.4333,159.9500,77.29,85,14,1.63,few clouds
668,668,Ambon,ID,-3.6954,128.1814,77.14,94,20,0.00,few clouds

In [28]:
# 4a. Determine if there are any empty rows using .isnull() and .sum()
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [29]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_preferred_cities_df = preferred_cities_df.dropna()
clean_preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Rikitea,PF,-23.1203,-134.9692,75.24,74,12,6.60,few clouds
10,10,Puerto Ayora,EC,-0.7393,-90.3518,76.96,90,63,8.99,broken clouds
37,37,Quatre Cocos,MU,-20.2078,57.7625,75.31,68,4,14.32,clear sky
44,44,Silver City,US,32.7701,-108.2803,78.76,17,0,8.99,clear sky
45,45,Tallahassee,US,30.4383,-84.2807,76.68,92,0,1.99,clear sky
...,...,...,...,...,...,...,...,...,...,...
642,642,Salamiyah,SY,35.0113,37.0532,77.09,14,100,11.79,overcast clouds
643,643,Benidorm,ES,38.5382,-0.1310,76.32,56,100,3.74,overcast clouds
650,650,Buala,SB,-8.1450,159.5921,79.41,81,83,5.35,broken clouds
667,667,Honiara,SB,-9.4333,159.9500,77.29,85,14,1.63,few clouds
668,668,Ambon,ID,-3.6954,128.1814,77.14,94,20,0.00,few clouds

In [30]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Rikitea,PF,75.24,few clouds,-23.1203,-134.9692,
10,Puerto Ayora,EC,76.96,broken clouds,-0.7393,-90.3518,
37,Quatre Cocos,MU,75.31,clear sky,-20.2078,57.7625,
44,Silver City,US,78.76,clear sky,32.7701,-108.2803,
45,Tallahassee,US,76.68,clear sky,30.4383,-84.2807,
47,Luganville,VU,76.01,few clouds,-15.5333,167.1667,
54,Mahebourg,MU,75.49,scattered clouds,-20.4081,57.7000,
60,Jieshi,CN,76.95,overcast clouds,22.8134,115.8257,
74,Victoria,HK,78.85,overcast clouds,22.2855,114.1577,
76,Santa Fe,AR,75.02,light rain,-31.6333,-60.7000,

In [31]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame using for and .itterrows()
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params = params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [35]:
# 7. Drop the rows where there is no Hotel Name.
nohotel = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = nohotel.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Rikitea,PF,75.24,few clouds,-23.1203,-134.9692,People ThankYou
10,Puerto Ayora,EC,76.96,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
37,Quatre Cocos,MU,75.31,clear sky,-20.2078,57.7625,Sunrise Attitude Hotel
44,Silver City,US,78.76,clear sky,32.7701,-108.2803,Copper Manor Motel
45,Tallahassee,US,76.68,clear sky,30.4383,-84.2807,Four Points by Sheraton Tallahassee Downtown
...,...,...,...,...,...,...,...
642,Salamiyah,SY,77.09,overcast clouds,35.0113,37.0532,Gondolas Forum grandchildren and grandparents
643,Benidorm,ES,76.32,overcast clouds,38.5382,-0.1310,Medplaya Hotel Flamingo Oasis
650,Buala,SB,79.41,broken clouds,-8.1450,159.5921,Maringe Lagoon Lodge
667,Honiara,SB,77.29,few clouds,-9.4333,159.9500,Heritage Park Hotel
668,Ambon,ID,77.14,few clouds,-3.6954,128.1814,Swiss-Belhotel Ambon

In [36]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [37]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [38]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))