## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key = g_key)

In [9]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Salalah,OM,17.0151,54.0924,81.16,85,100,7.11,overcast clouds
1,1,Thompson,CA,55.7435,-97.8558,46.56,25,20,11.50,few clouds
2,2,Astoria,US,46.1879,-123.8313,62.71,65,40,5.75,scattered clouds
3,3,Bluff,NZ,-46.6000,168.3333,50.34,80,100,29.48,light rain
4,4,Hobart,AU,-42.8794,147.3294,44.26,89,75,10.36,broken clouds

In [10]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature (Farenheit) you would like for your trip? "))
max_temp = float(input("What is the maximum temperature (Farenheit) you would like for your trip? "))

What is the minimum temperature (Farenheit) you would like for your trip? 70
What is the maximum temperature (Farenheit) you would like for your trip? 90

In [11]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Salalah,OM,17.0151,54.0924,81.16,85,100,7.11,overcast clouds
5,5,Rikitea,PF,-23.1203,-134.9692,75.24,74,12,6.60,few clouds
10,10,Puerto Ayora,EC,-0.7393,-90.3518,76.96,90,63,8.99,broken clouds
15,15,Kapaa,US,22.0752,-159.3190,80.58,91,2,4.00,light rain
21,21,Jamestown,US,42.0970,-79.2353,80.24,65,40,9.22,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
667,667,Honiara,SB,-9.4333,159.9500,77.29,85,14,1.63,few clouds
668,668,Ambon,ID,-3.6954,128.1814,77.14,94,20,0.00,few clouds
669,669,Aguazul,CO,5.1728,-72.5471,81.34,80,52,5.37,broken clouds
674,674,Ixtapa,MX,20.7000,-105.2000,81.63,65,0,12.66,clear sky
675,675,Shekhupura,PK,31.7131,73.9783,87.85,15,0,7.29,clear sky

In [12]:
# 4a. Determine if there are any empty rows using .isnull() and .sum()
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [13]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_preferred_cities_df = preferred_cities_df.dropna()
clean_preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Salalah,OM,17.0151,54.0924,81.16,85,100,7.11,overcast clouds
5,5,Rikitea,PF,-23.1203,-134.9692,75.24,74,12,6.60,few clouds
10,10,Puerto Ayora,EC,-0.7393,-90.3518,76.96,90,63,8.99,broken clouds
15,15,Kapaa,US,22.0752,-159.3190,80.58,91,2,4.00,light rain
21,21,Jamestown,US,42.0970,-79.2353,80.24,65,40,9.22,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
667,667,Honiara,SB,-9.4333,159.9500,77.29,85,14,1.63,few clouds
668,668,Ambon,ID,-3.6954,128.1814,77.14,94,20,0.00,few clouds
669,669,Aguazul,CO,5.1728,-72.5471,81.34,80,52,5.37,broken clouds
674,674,Ixtapa,MX,20.7000,-105.2000,81.63,65,0,12.66,clear sky
675,675,Shekhupura,PK,31.7131,73.9783,87.85,15,0,7.29,clear sky

In [14]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Salalah,OM,81.16,overcast clouds,17.0151,54.0924,
5,Rikitea,PF,75.24,few clouds,-23.1203,-134.9692,
10,Puerto Ayora,EC,76.96,broken clouds,-0.7393,-90.3518,
15,Kapaa,US,80.58,light rain,22.0752,-159.3190,
21,Jamestown,US,80.24,scattered clouds,42.0970,-79.2353,
25,Port Blair,IN,84.24,mist,11.6667,92.7500,
27,Georgetown,MY,82.33,few clouds,5.4112,100.3354,
29,Kudahuvadhoo,MV,83.21,broken clouds,2.6708,72.8944,
33,Itupiranga,BR,88.12,broken clouds,-5.1347,-49.3267,
34,Avarua,CK,73.45,scattered clouds,-21.2078,-159.7750,

In [15]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame using for and .itterrows()
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params = params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [16]:
# 7. Drop the rows where there is no Hotel Name.
nohotel = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = nohotel.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Salalah,OM,81.16,overcast clouds,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
5,Rikitea,PF,75.24,few clouds,-23.1203,-134.9692,People ThankYou
10,Puerto Ayora,EC,76.96,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
15,Kapaa,US,80.58,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
21,Jamestown,US,80.24,scattered clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
...,...,...,...,...,...,...,...
667,Honiara,SB,77.29,few clouds,-9.4333,159.9500,Heritage Park Hotel
668,Ambon,ID,77.14,few clouds,-3.6954,128.1814,Swiss-Belhotel Ambon
669,Aguazul,CO,81.34,broken clouds,5.1728,-72.5471,CENTRO VACACIONAL & HOTEL CAMPESTRE LAGO CENTER
674,Ixtapa,MX,81.63,clear sky,20.7000,-105.2000,hotel la terminal
675,Shekhupura,PK,87.85,clear sky,31.7131,73.9783,Best Holidays Inn

In [20]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))